@page
@model RazorPagesDatabase.Pages.EditModel
@{
	ViewData["Title"] = "Editing";
}

<div class="text-center">
    <h1 class="display-2">@ViewData["Title"]</h1>
    <p>This is where we are going to edit from</p>
</div>

<div class="text-left">
    <h1 class="display-8">Display</h1>
    <p>This is where we are going to display</p>
    <p>And I have no idea what I am doing...</p>
</div>