@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is where I declare I will mine your data</p>
<p>It is also where I try to look like an honest used car salesperson</p>
